
@{
    ViewBag.Title = "Home";
}

<div class="wiersz">
    <div class="USOSnews wnioski" style="width:100%;">

        <header>
            <h1 id="wnioski">Wnioski o świadczenia na rok akademicki 2018/2019</h1>
        </header>
        <section id="wnioski" style="column-count: 1; padding-top: 25px;">

            @*<p><img src="Models/skocz.gif" style="padding: 2px 4px 0 0;">wniosek o stypendium ministra: <strong>otwarte, terminy:&nbsp;<a href="http://www.studiuje.uj.edu.pl/studenci/pomoc-materialna/stypendium-ministra">studenci</a> | <a href="http://www.studiuje.uj.edu.pl/doktoranci/pomoc-materialna/stypendium-ministra">doktoranci</a></strong></p>
                <p><img src="Models/skocz.gif" style="padding: 2px 4px 0 0;">oświadczenie o dochodach 2017:&nbsp;<strong>otwarte</strong><br></p>
                <p><img src="Models/skocz.gif" style="padding: 2px 4px 0 0;">wniosek o dom studencki:</p>*@
            <ul>
                <li>studenci UJ:&nbsp;<strong>III tura, od 18 do 24 września</strong><br>Wniosek o miejsce w domu studenckim w III turze składa się osobiście 24 września w godz. 14:00-18;00 przy ul. Czapskich 4, pokoje 15-22. Wnioski przyjmuje UKE SSUJ.</li>
                <li>doktoranci UJ:&nbsp;<strong>II tura, od 1 do 11 września</strong></li>
                <li>studenci cudzoziemcy – rozpoczynający naukę na UJ:&nbsp;<strong>od 14 do 25 września</strong></li>
                <li>studenci i doktoranci UJ CM:&nbsp;<strong>tura ciągła - miejsca przyznawane w miarę dostępności do V 2019</strong></li>
            </ul>
            @*<p><img src="Models/skocz.gif" style="padding: 2px 4px 0 0;">wnioski o stypendia i zapomogę – studenci:</p>*@
            <ul>
                <li>stypendium socjalne:<strong> do 30 września</strong></li>
                <li>stypendium specjalne dla osób niepełnosprawnych: <strong>do 30 września</strong></li>
                <li>stypendium rektora dla najlepszych studentów: <strong>do 20 października</strong></li>
                <li>zapomoga: <strong>otwarte</strong></li>
            </ul>
            @*<p><img src="Models/skocz.gif" style="padding: 2px 4px 0 0;">wnioski o stypendia i zapomogę – doktoranci:</p>*@
            <ul>
                <li>stypendium socjalne:&nbsp;<strong>do 15 października</strong></li>
                <li>stypendium specjalne dla osób niepełnosprawnych: <strong>do 15 października</strong></li>
                <li>stypendium dla najlepszych doktorantów: <strong>do 15 października</strong></li>
                <li>zapomoga: <strong>otwarte</strong></li>
                <li>stypendium doktoranckie: <strong>do 20 września</strong></li>
                <li>zwiększenie stypendium doktoranckiego z dotacji projakościowej: <strong>do 20 września</strong></li>
            </ul>
        </section>
    </div>
</div>

